.Heroes {
    /* margin-top: 50vh; */
        /* The image used */
        background-image: url(./assets/businessherobg.jpg);
    
        /* Full height */
        min-height: 100vh; 
        min-width: 100vw;
    
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 100%vw 100%vh;

        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5vh;
        padding-bottom: 15vh;
}

h1 {
    font-size: 70px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
