/* body {
  background: linear-gradient(to bottom, #010c5b 0%, #adadb8 100%);
  background-repeat: no-repeat;
  background-size: 100% 2000px;
  background-attachment: scroll;
} */
h1 {
    font-size: 70px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Heroes {
  overflow: scroll;
}
/* @media screen and (max-width:480px){
  
  .Heroes-root-1 {
    width: 60px !important;
    height: 60px !important;
  }
} */
